doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    h3 Please type in a message below:
    form(action='/newMessage', method='post')
      input(type='text', name='newMessage', size='50')
      input.button(type='submit', value='Submit your message')

    h3 Here is the message you typed:

    p= sentMessage